.main-header{
    margin: 10px auto;
    width: 100%;
    display: flex;
    justify-content: center;

    span{
        margin: 0 auto;
        font-weight: 600;
    }
}

.main-container{
    max-width: 900px;
    min-width: 200px;
    margin: 0 auto;
    padding: 20px;
    // border: 1px solid var(--border-color);
    background-color: var(--container-bg-color);
    border-radius: 7px;
    position: relative;
    backdrop-filter: blur(30px);
    // background-color: rgba(65, 65, 65, 0.308);
    border: 1px solid rgba(255, 255, 255, 0.089);
    cursor: pointer;

    .todo-add-section{
        width: 100%;

        .todo-fields{
            display: flex;
            gap: 10px;
            
            input{
                width: 100%;
                padding: 12px;
                color: #ffffff9e;
                background-color: transparent;
                outline: none;
                border: 1px solid var(--border-color);
                border-radius: 7px;
            }
        }
    }

    .todolist-container{
        width: 100%;
        margin-top: 30px;
        height: 75vh;
        overflow-y: auto;

        li{
            list-style: none;
            background-color: var(--bg-color);
            margin-bottom: 10px;
            border-radius: 7px;
            transition: all .3s ease;
            
            
            .task-container{
                display: flex;
                justify-content: space-between;
                padding: 10px;
                color: #ffffff9e;
            }
        }

        li:hover {
            transform: scale(0.98);
        }

        // li:hover{
            
        //     -webkit-box-shadow: 0px 4px 15px 3px rgba(0,0,0,0.75);
        //     -moz-box-shadow: 0px 4px 15px 3px rgba(0,0,0,0.75);
        //     box-shadow: 0px 4px 15px 3px rgba(0,0,0,0.75);
        // }
    }
}

/* From Uiverse.io by zjssun */ 
.btn {
    padding: 5px 10px;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 10px;
    font-weight: 500;
    color: #ffffff80;
    text-shadow: none;
    background: transparent;
    cursor: pointer;
    box-shadow: transparent;
    border: 1px solid #ffffff80;
    transition: 0.5s ease;
    user-select: none;
  }
  
  .addBtn:hover,
  .addBtn:focus {
    color: #ffffff;
    background: #008cff;
    border: 1px solid #008cff;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff,
      0 0 100px #008cff;
  }

  .deleteBtn:hover,
  .deleteBtn:focus {
    color: #ffffff;
    background: #FB6363;
    border: 1px solid #FB6363;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    box-shadow: 0 0 5px #FB6363, 0 0 20px #FB6363, 0 0 50px #FB6363,
      0 0 100px #FB6363;
  }

  .editBtn:hover,
  .editBtn:focus {
    color: #ffffff;
    background: #20c997;
    border: 1px solid #20c997;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    box-shadow: 0 0 5px #20c997, 0 0 20px #20c997, 0 0 50px #20c997,
      0 0 100px #20c997;
  }
  