<form class="main-container" [formGroup]="MainForm">
    <div class="todo-add-section">
        <div class="todo-fields" formGroupName="Task">
            <input type="text" #input placeholder="Enter your todo....!" formControlName="text">
            <button pButton pRipple type="submit" label="Add" class="p-button-raised p-button-text" *ngIf="!isEdit"  (click)="addTask()"></button>
            <button pButton pRipple type="submit" label="Edit" class="p-button-raised p-button-text p-button-warning" *ngIf="isEdit"  (click)="addTask()"></button>
        </div>
    </div>
    
    <ul class="todolist-container">
        <li *ngFor="let task of tasks" (click)="editTask(task?.id)">
            <div class="task-container">
                <span>{{task?.text}}</span>
                <button pButton pRipple type="button" class="p-button-rounded p-button-danger p-button-text" icon="pi pi-trash" (click)="deleteTask(task?.id)"></button>
            </div>
        </li>
    </ul>
</form>